[submodule "booksim2"]
	path = booksim2
	url = git@github.com:YashCK/wsc-dvfs-booksim2.git
[submodule "sniper"]
	path = sniper
	url = https://github.com/evanjyli/network-trace
[submodule "netrace"]
	path = netrace
	url = https://github.com/booksim/netrace.git
